.details {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;

  .details-content {
    display: flex;
    flex-direction: column; // Coluna no mobile
    align-items: center;
    gap: 1.5rem;

    @media (min-width: 800px) {
      flex-direction: row; // Lado a lado no Desktop
      align-items: flex-start;
      gap: 3rem;
    }

    .details-poster {
      width: 100%;
      max-width: 280px;
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.5);

      @media (min-width: 800px) {
        max-width: 350px;
        position: sticky;
        top: 100px;
      }
    }

    .details-info {
      width: 100%;

      .details-title {
        font-size: 1.6rem;
        color: #8a4fff;
        margin-bottom: 1rem;
        text-align: center; // Centralizado no mobile

        @media (min-width: 800px) {
          font-size: 2.5rem;
          text-align: left;
        }
      }

      p {
        font-size: 0.95rem;
        line-height: 1.5;
        margin-bottom: 0.8rem;
        color: #b4b4c0;

        strong { color: #fff; margin-right: 5px; }
      }
    }
  }

  .review-box {
    margin-top: 2rem;
    background: #16161c;
    padding: 1.2rem;
    border-radius: 12px;

    @media (min-width: 768px) {
      padding: 2rem;
    }

    input, textarea {
      width: 100%;
      background: #0a0a0c;
      border: 1px solid #333;
      color: white;
      padding: 0.8rem;
      border-radius: 8px;
      margin: 0.5rem 0 1rem;
      
    }

    button {
      width: 100%;
      background: #8a4fff;
      padding: 1rem;
      border-radius: 8px;
      border: none;
      color: white;
      font-weight: bold;

      @media (min-width: 600px) { width: auto; padding: 1rem 3rem; } // Respponsividade 
    }
  }
}